/* <style name="global_styles">*/
#youtube {
    width: 200px;
    height: 120px
}

#title {
    color: black;
    margin-top: 0px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}